.edit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.edit.form-section {
  padding: 0;
}
.edit.form-section section {
  box-shadow: none;
}
.edit .header {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
}
.edit .header .close-btn {
  display: flex;
  padding: 0;
  height: 100%;
  width: auto;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(10px);
}
