<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <main>
      <div class="form-section">
        <section>
          <h1>Login</h1>
          <form action="/admin/login">
            <div>
              <label for="email">Email</label>
              <div>
                <i class="bx bx-envelope"></i>
                <input type="email" id="email" name="email" required />
              </div>
            </div>
            <div>
              <label for="password">Password</label>
              <div>
                <i class="bx bx-lock-alt"></i>
                <input type="password" id="password" name="password" required />
              </div>
            </div>
            <button type="submit" class="btn">Login</button>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
