<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/checkout.css" />
    <script src="https://www.paypal.com/sdk/js?client-id=<%= paypalClientId %>"></script>
    <script src="/script/checkout.js" defer></script>
  </head>
  <body>
    <%- include('./navbar.ejs', { links, cart, login, logout, checkout }) %>
    <main>
      <section class="page-hero">
        <div class="section-center">
          <h3><a href="/">Home </a>/ Checkout</h3>
        </div>
      </section>
      <div class="page" data-user="<%= JSON.stringify(user) %>"></div>
    </main>
    <%- include('./footer.ejs') %>
  </body>
</html>
