<footer class="footer">
  <h5>&copy;</h5>
  <h5>All rights reserved</h5>
</footer>
<script>
  document.querySelectorAll("footer > h5")[0].innerHTML +=
    " " + new Date().getFullYear() + "<span> ComfySloth </span>";
</script>
