<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <main>
      <section>
        <form action="/user/forgotpassword" method="post">
          <div>
            <label for="emailresetpassword"
              >Enter email to receive reset password link</label
            >
            <div>
              <i class="bx bx-envelope"></i>
              <input type="email" name="emailresetpassword" required />
            </div>
            <% if(messages.failMsg) { %>
            <strong class="fail"><%= messages.failMsg %></strong>
            <% } %> <% if(messages.successMsg) { %>
            <strong class="success"><%= messages.successMsg %></strong>
            <% } %>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
        <p>Return to <a href="/user/login">Login</a></p>
      </section>
    </main>
  </body>
</html>
