<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/notfound.css" />
  </head>
  <body>
    <div class="main">
      <div class="card">
        <div class="header">
          <h1>Page not found</h1>
        </div>
        <div class="body">
          <p>
            Looks like you've followed a broken link or entered a URL that
            doesn't exist on this site.
          </p>
          <p>
            <a href="/home" id="back-link"
              ><i class="bx bx-chevron-left"></i>
              <span>Back to our site</span></a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
